

.cart_icon { font-size: 23px; }

.cart_container_open { transform: translateX(0); }
.cart_container_closed { transform: translateX(100%); }
.cart_container {
    transition: all 0.5s ease-in-out;

    background-color: var(--black-light);

    padding: 20px 10px;
    height: calc(100dvh - 50px);
    width: 250px;

    position: absolute;
    top: 50px; right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cart_container_header,
.cart_container_body,
.cart_container_footer {
    width: 100%;
}

.cart_container_header_icon,
.cart_container_footer_icon {
    font-size: 23px;
}

.cart_container_header {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_container_body {
    overflow: auto;
    width: 100%;
    
    flex: 1;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cart_container_body > div {
    border: 1px solid #fff;
}

.cart_container_footer {
    border-top: 1px solid #fff;
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}