

.contact_section {
    place-items: center;
}

.contact_section_form {
    max-width: 500px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact_section_form_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_section_form_container_label {
    font-size: var(--section-text-font-size);
    color: #fff;
}

.contact_section_form_container_input,
.contact_section_form_textarea {
    background-color: transparent;
    border: 1px solid #fff;

    padding: 7px;

    font-size: var(--section-text-font-size);
    color: #fff;
}

.contact_section_form_textarea {
    height: 200px;
}

.contact_section_form_container_error {
    font-size: var(--section-text-font-size);
    color: rgb(255, 0, 0);
}

.contact_section_form_btn {
    background-color: var(--blue);
    border: none;

    padding: 7px;

    font-size: var(--section-btn-font-size);
    color: #fff;
}

.disable { background-color: rgb(128, 128, 128); }

.contact_section_form_btn_icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
