
.overflow_disabled {
    overflow: hidden;
}

.main {
    background-color: #121212;
    
    min-height: 100vh;
    min-width: 300px;

    padding: 20px;
    padding-top: 90px;

    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    position: relative;
    z-index: 2;
}

/* Tablet - 623.5 */
@media (min-width: 480px) and (max-width: 767px) {}

/* Small Laptops - 895.5 */
@media (min-width: 768px) and (max-width: 1023px) {}

/* Laptop - 1511.5 */
@media (min-width: 1024px) and (max-width: 1199px) {}

/* Monitor */
@media (min-width: 1200px) {
    .main {
        gap: 50px;
    }
}