

.header {
    background-color: var(--black-light);
    
    padding: 20px;
    
    height: 60px;
    width: 100%;

    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 5;

    display: flex;;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}