.overlay {
    background-color: #ffffff3f;
    opacity: 1;

    height: 100dvh;
    width: 100%;

    position: fixed;
    z-index: 3;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.overlay_hidden {
    opacity: 0 !important;
    z-index: 1 !important;
}