

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_actions {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Tablet - 623.5 */
@media (min-width: 480px) and (max-width: 767px) {
    .container_actions {
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}

/* Small Laptops - 895.5 */
@media (min-width: 768px) and (max-width: 1023px) {
    .container_actions {
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}

/* Laptop - 1511.5 */
@media (min-width: 1024px) and (max-width: 1199px) {
    .container_actions {
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}

/* Monitor */
@media (min-width: 1200px) {
    .container_actions {
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}