@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


::-webkit-scrollbar { display: none; }

* {
    /* Scroll Bar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Colors */
    --blue: rgb(83, 83, 255);
    --black: #121212;
    --black-light: #181818;
    --black-overlay: #00000093;

    /* Box */
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* Font */
    text-decoration: none;

    font-family: "Inter", sans-serif; 
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.7px;

    color: #fff;
}