.hero {
    background-position: center;
    background-size: cover;

    height: 60vh;
    width: 100%;

    position: relative;

    place-content: center;
    place-items: center;
}

.hero_overlay {
    background-color: var(--black-overlay);

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 1;
}

.hero_content {
    max-width: 300px;
    padding: 10px;

    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    text-align: center;
    color: #fff;
}

.hero_content_title {
    font-size: var(--hero-title-font-size);
    line-height: var(--hero-title-line-height);
}

.hero_content_text {
    font-size: var(--hero-text-font-size);
    line-height: var(--hero-text-line-height);
}

.hero_content_button {
    background-color: transparent;
    border: 1px solid #fff;

    padding: 7px;
    margin-top: 10px;

    width: fit-content;

    font-size: var(--hero-btn-font-size);
    color: #fff;
}